{erl_opts, [debug_info]}.
%%{deps, []}.

{plugins, [
    % { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
    % {rebar3_elixir_compile, "1.1.0"}
    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {tag, "1.1.0"}}}
]}.

{deps, [
   {faker, {elixir, "faker" ,"0.6.0"}}
]}.

% {provider_hooks, [
%   {pre, [{compile, {ex, compile}}]}
% ]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]},
  {pre, [{release, {ex, compile}}]}
]}.

{elixir_opts, 
  [
    {env, dev}
  ]
}.