{erl_opts, [debug_info]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.0"},
    rebar3_appup_plugin
]}.

{deps, [
	{ranch, {git,"git://github.com/ninenines/ranch.git",{tag,"1.3.2"}}},
    {sync, "0.1.3"}
]}.

{relx, [{release, { hub_server, "0.1.0" },
         [hub_server, ranch,  mnesia, rconf, zucchini, inets, ssl, public_key,
         asn1, crypto, stdlib, kernel, sync, compiler, syntax_tools,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {include_erts, false},

        {extended_start_script, true}]
}.




