.rebar3
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build/default/rel/*
.idea
rebar3.crashdump
Mnesia*
*log
*pid
.DS_Store
*/target/*
*tikv/*
*tokio_kcp/*
dump.rdb
