{erl_opts, [debug_info]}.
{deps, [
	{websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}}
]}.

{relx, [{release, { wsc, "0.1.0" },
         [wsc,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
