{erl_opts, [debug_info]}.


{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.3.1"}}}

]}.

{deps, [
    {thrift, ".*", {git, "https://github.com/j14159/thrift", {tag, "0.9.3"}}}
]}.


{provider_hooks, [
    {pre, [
        {compile, {thrift, compile}},
        {clean, {thrift, clean}}
    ]}
]}.

{thrift_compiler_opts, [
    % Directory where *.thrift files are located, relative to application root
    {in_dir, "priv"},
    % Explicit list of files to compile instead of every single *.thrift file found inside the `in_dir`
    {in_files, ["msg.thrift"]},
    % Directory to put all generated *.erl files into, relative to application output directory
    {out_erl_dir, "src"},
    % Directory to put all generated *.hrl files into, relative to application output directory
    {out_hrl_dir, "include"},
    % Generator (with arbitrary flags) to use when compiling *.thrift files
    {gen, "erl:legacy_names"}
]}.
