{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}
    ]}.

{plugins, [
    {rebar3_gpb_plugin, "2.1.1"},
    rebar3_appup_plugin
]}.

{deps, [
    {esnowflake, "0.2.0"}
    , {zucchini,".*",   {git, "https://github.com/hbeimf/zucchini.git", {tag, "master"}}}
    %  , {zucchini, "0.1.0"}
    ,{jsx, "2.9.0"}
]}.

{gpb_opts, [
  {i, "priv"},                % path/to/proto_dir
  {module_name_suffix, "_proto"}, % Naming convention, unless you have a good reason just go with it.
  {o_erl, "src"},              % Where the generated source is placed
  {o_hrl, "include"},          % Where the generated include files are placed
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.