{erl_opts, [debug_info]}.

%{deps, [
%	{eredis, "1.0.8"},
%	%% {poolboy, "1.5.1"}
%	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}}
%]}.

{deps, [
    {eredis,"1.*",
        {git, "https://github.com/wooga/eredis.git",
        {tag, "v1.1.0"}}},
    {poolboy,"1.*",
        {git, "https://github.com/devinus/poolboy.git",
        {tag, "1.5.1"}}}]}.
