.rebar3
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
xgn.node
go.log
go.pid

go_src/src/github.com/araddon/
go_src/src/github.com/bitly/
go_src/src/github.com/go-sql-driver/
go_src/src/github.com/go-xorm/
go_src/src/github.com/lytics/
go_src/src/github.com/mattbaird/

