{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}
    ]}.

{deps, [
	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
	{cowboy, {git,"git://github.com/ninenines/cowboy.git",{tag,"1.1.x"}}}
]}.

{gpb_opts, [
  {i, "priv"},                % path/to/proto_dir
  {module_name_suffix, "_proto"}, % Naming convention, unless you have a good reason just go with it.
  {o_erl, "src"},              % Where the generated source is placed
  {o_hrl, "include"},          % Where the generated include files are placed
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{pre_hooks, [
        {compile, "make -C rust_src --no-print-directory"}
         ,{compile, "cp rust_src/target/debug/rs-server priv/rs-server"}
    ]
}.