[
        #{
            pool_id=>1,
            host=> "127.0.0.1", 
            port=>3306, 
            user=>"root", 
            password=>"123456", 
            database=>"xdb1",
            pool_size => 2
        }
        , #{
            pool_id=>2,
            host=> "127.0.0.1", 
            port=>3306, 
            user=>"root", 
            password=>"123456", 
            database=>"xdb2",
            pool_size=> 5
        }
        , #{
            pool_id=>3,
            host=> "127.0.0.1", 
            port=>3306, 
            user=>"root", 
            password=>"123456", 
            database=>"xdb3",
            pool_size=> 5
        }

].