{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.1"}}},
    {rebar3_gpb_plugin, "2.1.1"},
    rebar3_appup_plugin
]}.


{relx, [{release, { ego, "0.1.0" },
         [ego,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
