{erl_opts, [debug_info]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.0"},
    rebar3_appup_plugin
]}.


{deps, []}.

{relx, [{release, { control_center, "0.1.0" },
         [control_center,table, mnesia, ws_server, cowboy, cowlib, ranch, glib, esnowflake, 
         sys_config, zucchini, inets, ssl, public_key, asn1, crypto, stdlib, kernel, gs_link, websocket_client,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.
