{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
  rebar3_run,
  {rebar3_gpb_plugin, "2.12.0"},
    rebar3_appup_plugin
]}.


{relx, [{release, { riak_learn, "0.1.0" },
         [riak_learn,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
