[
  { mysqlc_demo, []},

{lager, [
  {handlers, [
    {lager_console_backend, [info, {lager2json, []}]},
    {lager_file_backend, [{file, "log/log_error.log"},{level, error},{formatter, lager2json},{formatter_config, [{separator, <<"\n">>}]}]}
    % ,{lager_file_backend, [{file, "log/log_debug.log"},{level, debug},{formatter, lager2json},{formatter_config, [{separator, <<"\n">>}]}]}
    % ,{lager_file_backend, [{file, "log/log_console.log"},{level, info},{formatter, lager2json},{formatter_config, [{separator, <<"\n">>}]}]}

  ]}
  
]}


].
